html,body {
    margin: 0;
    padding: 0;
    height: 100%;}
body {
    justify-content: center;/*水平方向に中央揃え*//*垂直方向に中央揃え*/
}

header {
    align-items: center;
    display: flex;
    width: 95%;
    height: 100px;
    background-color: darkgrey;
    margin: 0 auto;
}


.menu ul {
    list-style: none; /* リストの点を消す */
    margin: 0;
    padding: 0;
    display: flex; /* 子要素を横並びにする */
}

.menu li {
    padding: 10px;
    font-size: 20px;
}

.gacha {
    background-color: rgb(194, 194, 194);
    width: 95%;
    height: 90%;
    position: relative;
    top: 10px;
    margin: 0 auto;
}
.directory {
    background-color: rgb(232, 232, 232);
    width: 95%;
    max-height: 600px;
    position: relative;
    top: 10px;
    margin: 0 auto;
}
.imageDisplay {
    max-width: 100px;
    max-height: 100px;
}

.imageDisplay3 {
    max-width: 100px;
    max-height: 100px;
}

.imageDisplay4 {
    max-width: 100px;
    max-height: 100px;
}

.imageDisplay5 {
    max-width: 100px;
    max-height: 100px;
}

.imageDisplay2 {
    max-width: 500px;
    max-height: 500px;
}


  .gacha-start {
    width: 100px;
    height: 70px;
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
    transition: 1s
  }
.gacha-start:hover{
    background-color: white;
    content: "Button";

  }

#imageDisplay {
    position: relative;
}

  #imageDisplay-SSR {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

  #imageDisplay-SR {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  #imageDisplay-NR {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }

  
.move {
    animation: animationZoom 1.5s ease-in-out forwards;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

@keyframes animationZoom {
    0% {
        transform: scale(80%);
    }
    80% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
      }
  }

  .randomresult {
    opacity: 1;
  }

  .opacity {
    opacity: 0;
  }